@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url(menu.css);
@import url(bann.css);
@import url(blo.css);
@import url(inf.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family:'Permanent Marker', cursive;
}

header {
    width: 100%;
    height: 70px;
    background-image:linear-gradient(rgb(250,0,0),rgb(225,70,50),rgb(250,250,250));
    color: black;
    font-size:15px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}
input.doc,input.fac,select.ape{
    margin-top: 50px;
    margin-left: 5px;
    border-radius: 10px;
    font-size: 18px;
    background-image: linear-gradient(rgb(0,0,0),rgb(41,49,51),rgb(130,130,130));
    color: gold;
}
input.ing,input.act,input.eli,input.bus{
    border-radius: 5px;
    background-image: linear-gradient(rgb(0,0,0),rgb(41,49,51),rgb(130,130,130));
    color: whitesmoke;
    font-size: 15px;
}
.contenedor {
    width: 100%;
    margin: auto;
}

h1 {
    float: left;
}

header .contenedor {
    display: table;
}

section {
    width: 100%;
    margin-bottom: 25px;
}

#Bienvenidos {
    text-align: center;
}

footer .contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 25px;
}

.copy {
    font-size: 20px;
}

.sociales {
    width: 100%;
    text-align: center;
    font-size: 28px;
}
table{
    margin-left:5px;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 15px;
    background-color: whitesmoke;
    border-color: firebrick;
}
thead{
    text-align: center;
    color:whitesmoke;
    font-size: larger;
}
tbody{
    text-align: center;
    font-size: medium;
    color: black;
}
.sociales a {
    color: snow;
    text-decoration: none;
}

@media (min-width:768px){
    .sociales {
        width: auto;
    }
    
    footer .contenedor{
        justify-content: space-between;
    }
}

@media (min-width:1024px) {
    .contenedor{
        width: 1000px;
    }
}

footer{
    width: 100%;
    background: #202020;
    color: white;   
    padding: 2%;
    font-family: Verdana;
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

.container-body{
    display: flex;
    justify-content: space-between;
}

.colum1{
    max-width: 400px;
}

.colum1 h1{
    font-size: 22px;
    
}

.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

.colum2{
    max-width: 400px;
    
}

.colum2 h1{
    font-size: 22px;
    margin-left: 6%;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
    margin-left: 30%;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

.colum3{
    max-width: 400px;
}

.colum3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
    font-size: 90%;
}

.row2 img{
    width: 36px;
    height: 36px;
    
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}
